*.o
*.obj
Makefile
.DS_Store
.vscode
.vs
*.bundle
*.so
*.def
*.exe
*.db
a.out
ulog_sqlite
src/obj
CMakeFiles
CMakeCache.txt
*.cmake
*.vcxproj
*.sln
*.filters
src/ulog_sqlite.dir
src/Debug
src/Release
WIN32/*
src/*.db
src/.DS_Store
src/*.dSYM
src/test_ulog_sqlite

